*{
    padding: 0;
    margin: 0;
}
body {
    margin: 50px;
    background-color: rgb(241, 239, 234);
}
.container {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 800px;
    background-color: white;
    box-shadow: 3px 10px 20px 5px rgba(197, 196, 196, 0.5);
    padding: 15px;
    flex-direction: column;
}
.flagView {
    display: inline;
}
h3{
    padding-bottom: 20px;
}
.countryName{
    padding : 7px;
    font-size: 25px;
    text-align: center
}
.loss{
    padding: 8px;
    color: grey;
}
.win{
    font-weight: bold;
}
.resultDisplay {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px;
}
.runs{
    font-size: 25px;
    font-weight: bold;
}
#matchResult {
    font-size: 20px;
    color: rgb(68, 69, 70);
    padding-top: 50px;
}
.runsContainer{
    display: 'flex';
    justify-content: 'center';
    flex-direction: 'column';
    align-items: flex-end;
}   